.hours-form {
  margin: 0 15rem;
  /* position: absolute; */
  position: relative;
  top: 1rem;
  /* left: 5%; */
}
.hours {
  width: fit-content;
  border: 2px solid rgb(66, 65, 90);
  padding: 1rem;
  margin: 1rem;
}
.numbers-hours {
  width: 50px;
}
.hours-container {
  display: flex;
  flex-wrap: wrap;
}
.begin {
  margin: 0 auto;
  cursor: pointer;
  padding: 0.7rem;
  position: relative;
}
