.employee-labels {
  margin-right: 2rem;
}
.buttons-section {
  display: flex;
  flex-direction: row;
}
.buttons {
  margin-right: 1rem;
  cursor: pointer;
}
.checkbox {
  margin-right: 1rem;
}
@media only screen and (min-width: 1600px) {
  .employee-labels {
    font-size: 2rem;
  }
}
