.scheduleTable {
  margin: 2rem auto;
  font-size: 1.25rem;
}

.scheduleThead {
  font-weight: 900;
  background-color: rgb(70, 227, 233);
}
.scheduleTBodyTd {
  text-align: center;
}
.tdPadding {
  padding: 0.625rem;
}
.deleteButton {
  background-color: red;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 3rem;
}
.results {
  background-color: darkgray;
}
